body {
  background-color: #fffffffe;
  height: 928px;
  background-repeat : no-repeat;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(91, 164, 178) 0%, rgb(100, 163, 175) 35%, rgb(91, 164, 178) 100%);
}

.btn-btn-primary{
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #211faf;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-weight:bold;
}

.btn-btn-primary:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.btn-btn-primary:active {
  color: #000
}

.btn-btn-primary:active:after {
  background: transparent;
}

.btn-btn-primary:hover:before {
  opacity: 1;
}

.btn-btn-primary:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #cfaa13;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.navbar-brand {
font-weight: bold;
color: #cfaa13;
}

#container {
background-image: url('kopar.jpg');
}

#damar {
  color: rgb(255, 225, 0);
  text-align: center;
  position: relative;
  font-family: sans-serif;
  font-size: 40px;
  text-shadow:
  0 0 5px #fff, 
  0 0 10px #fff,
  0 0 15px #000000, 
  0 0 20px #000000, 
  0 0 25px #000000, 
  0 0 30px #000000, 
  0 0 35px #000000;
}

#sezer {
  margin-top: 0.2%;
  margin-left: 65%; 
}

#ey {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffffd0;
}

#kaydetyazirenk  {
  color: #002bff;
  font-weight: bold;
  background-color: rgb(255, 242, 0);
}