body {
    background-color: #fffffffe;
    height: 928px;
    background-repeat : no-repeat;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(65, 152, 169) 0%, rgb(65, 152, 169) 35%, rgb(65, 152, 169) 100%);
  }

  .btn-btn-primary{
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #211faf;
    background: #111; 
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 3%;
    font-weight:bold;
}

.btn-btn-primary:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn-btn-primary:active {
    color: #000
}

.btn-btn-primary:active:after {
    background: transparent;
}

.btn-btn-primary:hover:before {
    opacity: 1;
}

.btn-btn-primary:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #cfaa13;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.navbar-brand {
  font-weight: bold;
  color: #cfaa13;
}

#container {
  background-image: url('damar.jpg')
}

#biktim {
    border: #00ff33;
}
#a {
    background-image: linear-gradient(
      to right,
      #ffffff,
      #ffffff 50%,
      #000000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  #a:before{
    content: '';
    background: #ffffff;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  #a:hover {
   background-position: 0;
  }
  
  #a:hover::before{
    width: 100%;
  }

 

  #damar {
    color: rgb(255, 225, 0);
    text-align: center;
    position: relative;
    font-family: sans-serif;
    font-size: 45px;
    text-shadow:
    0 0 5px #fff, 
    0 0 10px #fff,
    0 0 15px #000000, 
    0 0 20px #000000, 
    0 0 25px #000000, 
    0 0 30px #000000, 
    0 0 35px #000000;
}
 
#damararge {
  color: rgb(255, 225, 0);
  text-align: center;
  position: relative;
  font-family: sans-serif;
  font-size: 35px;
  text-shadow:
  0 0 5px #fff, 
  0 0 10px #fff,
  0 0 15px #000000, 
  0 0 20px #000000, 
  0 0 25px #000000, 
  0 0 30px #000000, 
  0 0 35px #000000;
}

#sezer {
  margin-left: 8%; 
  margin-top: 0.6%;
}

#ey {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffffd0;
}

#eysan {
  font-family: Arial, Helvetica, sans-serif;
}

#eysanlar {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffffd0;
}

#artibicim {
  width: 60px;
  font-size: 25px;
  font-weight: 999;
}