<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="viewusers.component.css">
    <title>Projeler</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light" id="container">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"><button type="button" class="btn-btn-primary">Projeler</button></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/add"><button type="button" class="btn-btn-primary">Proje Ekleme</button></a>
              </li>
             <li id="sezer">
              <a class="navbar-brand" href="#" id="damar">TURKCELL GLOBAL BİLGİ CENTER</a>
             </li>
              
            </ul>
            
          </div>
        </div>
      </nav>
    <!--Main Content-->
    <div class="mt-5">
        <h1 class="text-center" id="damararge">Global AR-GE Uygulamaları</h1>
        <div class="container">
            <!--Add User Button-->
            <div class="my-3">
                <a href="/add"><button type="button" class="btn-btn-primary" id="artibicim">+</button></a>
            </div>
            <table class="table border" id="biktim">
                <thead>
                  <tr>
                    <th scope="col">PROJE ID</th>
                    <th scope="col">PROJE ADI</th>
                    <th scope="col">PROJE LİNK</th>
                    <th scope="col">PROJE KATEGORİ</th>
                    <th scope="col">PROJE DETAY</th>
                    <th scope="col">AYARLAR</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    <td id="eysanlar">{{user.id}}</td>
                    <td id="ey">{{user.name}}</td>
                    <td id="eysan"><a href="{{user.email}}" target="_blank" id="a">{{user.email}}</a> </td>
                    <td id="ey">{{user.pNo}}</td>
                    <td id="ey">{{user.address}}</td>
                    <td>
                        <div class="d-inline mx-2">
                            <button class="btn btn-warning" (click)="updateUser(user.id)" type="button">Güncelle</button>
                        </div>
                        <div class="d-inline">
                          <button class="btn btn-danger" (click)="deleteUser(user.id)" type="button">Sil</button>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>


    


</body>
</html>

<router-outlet></router-outlet>